.reset {
  height: 50px;
  margin: 5px;
  width: 150px;

  .container {
    border: 2px solid #006702;
    border-radius: 4px;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;

    .front {
      background-color: #00BA02;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
